/* Components styles */

.inc-exp-container {
    background-color: #fff;
    box-shadow: var(--box-shadow);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.inc-exp-container > div {
    flex: 1;
    text-align: center;
}

.inc-exp-container > div:first-of-type {
    border-right: 1px solid #dedede;
}

.money {
    font-size: 20px;
    letter-spacing: 1px;
    margin: 5px 0;
}

.money.plus {
    color: var(--success-color);
}

.money.minus {
    color: var(--danger-color);
}

.list {
    list-style-type: none;
    padding: 0;
    margin-bottom: 40px;
}

.list li {
    background-color: #fff;
    box-shadow: var(--box-shadow);
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 10px;
    margin: 10px 0;
}

.list li.plus {
    border-right: 5px solid var(--success-color);
}

.list li.minus {
    border-right: 5px solid var(--danger-color);
}

.transaction-info {
    display: flex;
    flex-direction: column;
}

.transaction-info small {
    color: #777;
    font-size: 0.8em;
}

/* Actions Container (Edit/Delete) */
.actions {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-100%, -50%);
    display: flex;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.list li:hover .actions {
    opacity: 1;
}

.delete-btn, .edit-btn {
    cursor: pointer;
    border: 0;
    color: #fff;
    font-size: 14px;
    padding: 5px 8px;
    margin-right: 2px;
}

.delete-btn {
    background-color: #e74c3c;
}

.edit-btn {
    background-color: #3498db;
}

.btn {
    cursor: pointer;
    background-color: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: #fff;
    border: 0;
    display: block;
    font-size: 16px;
    margin: 10px 0 30px;
    padding: 10px;
    width: 100%;
}

.btn:focus, .delete-btn:focus, .edit-btn:focus {
    outline: 0;
}

/* Filter & Sort */
.filter-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    background: #fff;
    padding: 10px;
    box-shadow: var(--box-shadow);
    border-radius: 4px;
}

.filter-container label {
    font-weight: bold;
    margin-right: 10px;
}

.filter-container select {
    padding: 5px;
    border: 1px solid #dedede;
    border-radius: 2px;
}

.form-control label {
    display: inline-block;
    margin: 10px 0;
}

.form-control input {
    border: 1px solid #dedede;
    border-radius: 2px;
    display: block;
    font-size: 16px;
    padding: 10px;
    width: 100%;
}

.form-control input:focus {
    outline: 0;
}